# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Base config
[*]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true

# YAML doesn't allow tabs (which is kinda stupid) & package.json is usually only touched by yarn or npm so we don't care
[{.yarnrc.yml,package.json}]
indent_style = space
indent_size = 2
